$width: 12rem;
$spacing: $width * 0.87;
$marginchange: 0rem;

.all {
  margin-top: -18rem;
  margin-left: -15em;
}

#hexGrid {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  list-style-type: none;
  margin-top: $spacing + $marginchange;

  &:nth-child(1) {
    opacity: 0.8;
  }

  &:nth-child(2) {
    opacity: 0.6;
  }

  &:nth-child(3) {
    opacity: 0.4;
  }

  &:nth-child(4) {
    opacity: 0.2;
  }

  .hex {
    position: relative;
    width: $width;
    margin-left: $marginchange;

    .in {
      position: absolute;
      width: 96%;
      padding-bottom: 110.851%;
      overflow: hidden;
      visibility: hidden;
      -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
      -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
      transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);

      .hexcont {
        width: 100%;
        height: 100%;
        background: black;
        overflow: hidden;
        -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
        position: absolute;
        visibility: visible;
      }
    }
  }
}

.all {
  -webkit-transform: rotate(-90deg);
}

@media only screen and (max-width: 480px) {
  :root {
    -webkit-transform: scale(0.5);
  }

  .all {
    -webkit-transform: translate(10rem, -3rem);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .all {
    -webkit-transform: rotate(90deg) scale(0.8);
    margin-left: 10em;
    margin-top: -16.5em;
  }
}
